<div class="flex flex-wrap gap-5 justify-center">

    <div class="bg-blue-50 max-w-sm border-8 border-blue-900 rounded-lg">
        <!-- Card header starts here -->
        <div>
            <div class="text-2xl font-bold pl-4 mb-1.5">
                <h> COTTESLOE TRAIL</h>
                <i class="fas fa-ice-cream float-right p-2 pl-0"></i>
                <i class="fas fa-sun float-right p-2 pl-0"></i>
                <i class="fas fa-monument float-right p-2 pl-0"></i>
            </div>
            <iframe width="320" height="304" loading="lazy"
                src="https://www.google.com/maps/embed/v1/search?q=-32.01673%2C115.75186&key=AIzaSyD35Vbfoe4FWuJm8JnPKOCJSFhY-rbgbhA"
                class="mx-4 w-11/12 h-80 border-8 border-blue-900 rounded-lg"></iframe>
            <p class="text-center font-bold pb-2">Mosman Beach Parking Lot</p>
        </div>
        <!-- Card body starts here -->
        <div class="px-4">
            <div class="pb-2 border-b-2 border-blue-900">
                <h2 class="font-bold">Getting Started</h2>
                <p class="text-sm py-0.5">To start this adventure, please head to the location provided on the map
                    above.</p>
                <p class="text-sm py-0.5">Once you arrive, press the "Begin" button to get started.</p>
            </div>
            <div class="pb-2 border-b-2 border-blue-900">
                <h2 class="font-bold">What to bring!</h2>
                <ul class="text-sm list-disc list-inside">
                    <li>Walking Shoes</li>
                    <li>Water Bottle</li>
                    <li>Sunscreen</li>
                    <li>Hat</li>
                    <li>Money for Gelato (optional)</li>
                </ul>
            </div>
        </div>
        <!-- Card Buttons Section starts here -->
        <div class="flex justify-center">
            <button id="homeButton"
                class="bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Home</button>
            <button id="nextButton"
                class="bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Begin</button>
            <button id="resetButton"
                class="bg-blue-300 py-0.5 px-2 rounded-lg border-2 border-blue-900 m-0.5">Reset</button>
        </div>
    </div>