<div class="max-w-sm rounded-lg w-11/12">
    <h class="pl-4">Hi [name], please pick an adventure below:</h>
</div>

{{!-- Add a loop, to get all adventures --}}
{{#each adventures as |adventure|}}
<a href="./adventure/{{adventure.link}}" class="flex flex-row flex-wrap border-8 border-blue-900 rounded-lg w-11/12 mt-5">
    <img src="/images/{{adventure.image}}" alt="local-discovery-logo" class="m-1 w-1/5 h-30">
    <div class="w-3/4">
        <h1 class="font-bold text-2xl m-1">{{adventure.name}}</h1>
        <p>{{adventure.description}}</p>
    </div>
</a>
{{/each}}
{{!-- Close the loop --}}