<div class="bg-blue-50 text-2xl font-bold max-w-sm border-8 border-blue-900 rounded-lg w-11/12">
    <h class="pl-4">Hi [name], please pick an adventure below:</h>
</div>

{{!-- Add a loop, to get all adventures --}}
<div class="bg-blue-50 text-2xl font-bold max-w-sm border-8 border-blue-900 rounded-lg w-11/12">
    <a href="./"><img src="/images/local-discovery-logo.png" alt="local-discovery-logo" class="mx-4 w-20 h-30"></a>
    <div>
        <h1>Cottesloe Adventure</h1>
        <p>An adventure around the cottesloe area</p>
    </div>
</div>
{{!-- Close the loop --}}